<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fs-2" href="/">
      <img src="https://i.imgur.com/k73Yikv.png" style="width: 7rem"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-2">
        <hr class="design-division">
        <li class="nav-item me-2">
          <a class="nav-link active" href="/">Home</a>
        </li>

 <% if user_signed_in? || admin_signed_in? %>
          <% if admin_signed_in? %>
            <li class="nav-item me-2">
              <%= link_to "Transportadoras", transport_companies_path, class:"nav-link active"%>
            </li>
            <li class="nav-item">
              <span class="navbar-text nav-link"><%= current_admin.email%></span>
            </li>
            <li class="nav-item">
             <button type="button" class=" btn-success nav-link ">Admin</button>
            </li>
          <% else %>

            <li class="nav-item">
              <span class="navbar-text nav-link"><%= current_user.email%></span>
            </li>
             <li class="nav-item">
             <button type="button" class="btn-info nav-link text-light">Usuário</button>
            </li>
          <% end %>


        <li class="nav-item">
            <%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'btn-danger nav-link text-light btn-lg ps-2 pe-2' %>
          </li>
        <% else %>
          <li class="nav-item">
          <%= button_to "Entrar", new_user_session_path, method: :get, class: 'btn-secondary nav-link btn-lg ps-4 pe-4' %>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
