<div class="row">
  <% @budgets.each do |budget| %>
    <div class="col-lg-3 fs-5">
      <div class="card mb-3" >
        <div class="card-header text-white">
        </div>
        <div class="card-body">
          <h3 class="card-title fs-3"><%= number_to_currency(budget.total_price)%></h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Peso: <%= budget.total_weight%>kg</li>
            <li class="list-group-item">M. Cúbicos: <%= budget.cubic_size%>m³</li>
            <li class="list-group-item">Distância: <%= budget.total_distance%>km</li>
            <% if budget.delivery_time.present?%>
              <li class="list-group-item">Prazo: <%= budget.delivery_time%> dias úteis</li>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</div>
