<div class="navigation-area d-flex justify-content-between align-items-center">
<h1 class="mb-3"><%= @transport_company.company_name %></h1>

<div class="navigation d-flex gap-2">
    <%= button_to "Cadastrar Pedido", new_transport_company_path, {method: :get, class: "btn btn-outline-warning"} %>
    <%= button_to "Desativar", new_transport_company_path, {method: :get, class: "btn btn-outline-danger"} %>
  </div>
</div>
<hr>


<% @transport_company.each_attribute.each do |attr_name, attr_value| %>
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= TransportCompany.human_attribute_name(attr_name) %></div>
  <div class="card-body">
    <h5 class="card-title"><%= attr_value %></h5>
  </div>
</div>
<% end %>


