<div class="navigation-area d-flex justify-content-between align-items-center">
  <h1 class="mb-2">Olá!</h1>
  <div class="navigation d-flex gap-2">
    <%= button_to "Verificar pedidos", work_orders_path, {method: :get, class: "btn btn-outline-success"} %>
    <%= button_to "Consultar Ordem de Serviço", search_work_orders_path, {method: :get, class: "btn btn-outline-warning"} %>
  </div>

</div>
<hr>

<div class="row scroll admin-dash ">

<div class="col-lg-4 mb-3">
<div class="card text-center" >
  <img src="https://img.icons8.com/color/280/000000/truck.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Ver veículos", carrier_vehicles_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>
<div class="col-lg-4 mb-3">
<div class="card text-center" >
  <img src="https://img.icons8.com/color/280/000000/truck.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Cadastrar veículo", new_carrier_vehicle_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>

<div class="col-lg-4 mb-3">
<div class="card text-center" >
  <img src="https://img.icons8.com/color/280/000000/pencil.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Ver preços", prices_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>

<div class="col-lg-4 mb-3">
<div class="card text-center" >
  <img src="https://img.icons8.com/color/280/000000/pencil.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Atualizar preços", new_price_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>

<div class="col-lg-4 mb-3">
<div class="card text-center" >
  <img src="https://img.icons8.com/color/280/000000/target.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Ver Ordens de serviço", work_orders_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>

<div class="col-lg-4 mb-3">
<div class="card text-center" >
  <img src="https://img.icons8.com/color/280/000000/calendar.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Ver Prazos de envio", delivery_times_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>

<div class="col-lg-4 mb-3">
<div class="card text-center">
  <img src="https://img.icons8.com/color/280/000000/search.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Consultar Ordem de Serviço", search_work_orders_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>




</div>
