<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Fazer orçamento
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Fazer orçamento</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: WorkOrder.new, url: search_work_orders_path, method: :get) do |f| %>
  <div class="row">
    <%= f.label :cubic_size, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-5">
      <%= f.number_field :cubic_size, step:0.01, class:"form-control fs-5", placeholder:"em m³" %>
    </div>
  </div>
  <div class="row">
    <%= f.label :total_weight, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-5">
      <%= f.number_field :total_weight, step:0.01, class:"form-control fs-5", placeholder:"em kg", min: 0.1 %>
    </div>
  </div>
  <div class="row mb-2">
    <%= f.label :total_distance, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-5">
      <%= f.number_field :total_distance, step:0.01, class:"form-control fs-5", placeholder:"em km" , min: 0.1%>
    </div>
  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
        <%= f.submit 'Enviar', class:"btn btn-success fs-5" %>
      </div>
    </div>
  </div>
</div>
<% end %>

