<h2>Cadastrando Ordem de serviço</h2>

<%= render 'shared/form/errors' %>

<%= form_for @work_order,:url => url_for(:controller => 'work_orders', :action => 'create_directly_assign') do |f| %>
  <div class="row mb-2">
    <%= f.label :sender_address, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-10">
      <%= f.text_field :sender_address, class:"form-control", placeholder:"" %>
    </div>
  </div>
  <div class="row mb-2">
    <%= f.label :receiver_address, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-10">
      <%= f.text_field :receiver_address, class:"form-control", placeholder:"" %>
    </div>
  </div>
  <div class="row mb-2">
    <%= f.label :receiver_name, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-10">
      <%= f.text_field :receiver_name, class:"form-control", placeholder:"" %>
    </div>
  </div>
  <div class="row mb-2">
    <%= f.label :receiver_cpf, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-10">
      <%= f.text_field :receiver_cpf, class:"form-control", placeholder:"" %>
    </div>
  </div>
  <div class="row mb-2">
    <%= f.label :cubic_size, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-10">
      <%= f.number_field :cubic_size, step:0.01, class:"form-control", placeholder:"" %>
    </div>
  </div>
  <div class="row mb-2">
    <%= f.label :total_weight, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-10">
      <%= f.number_field :total_weight, step:0.01, class:"form-control", placeholder:"" %>
    </div>
  </div>
  <div class="row mb-2">
    <%= f.label :total_distance, class:"col-sm-6 col-form-label"%>
    <div class="col-sm-10">
      <%= f.text_field :total_distance, class:"form-control", placeholder:"" %>
    </div>
  </div>

  <%= f.submit 'Salvar', class:"btn btn-primary fs-5", name: "transport_company_id",value: params[:transport_company] %>

<% end %>
