<div class="navigation-area d-flex justify-content-between align-items-center">
  <h2 class="mb-2">Transportadoras disponíveis: <%= @budgets.length %> </h2>
  <%= button_to "Voltar", work_orders_path, {method: :get, class: "btn btn-outline-danger"} %>
</div>
<hr>

<div class="row">
<% @budgets.each_with_index do |budget, index| %>
<div class="col-lg-3 b-line<%= index %>">
  <div class="card mb-3" >
    <div class="card-body">
      <h3 class="card-title fs-2"><%= link_to budget.transport_company.trading_name, root_path %></h3>
      <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= budget.transport_company.company_name%></li>
    <li class="list-group-item">Valor: <%= number_to_currency(budget.value_per_km * @total_distance)  %></li>
      <li class="list-group-item">Tempo Estimado de Envio:
          dias úteis
      </li>
  </li>
    </ul>
      <%= link_to "Ver detalhes", root_path, class:"btn btn-primary mt-2"%>
    </div>
  </div>
  </div>

<% end %>
</div>
