<div class="navigation-area d-flex justify-content-between align-items-center bg-">
  <div class="d-flex justify-content-center align-items-center gap-3">
    <h2><%= @work_order.unique_code %></h2>
    <p class="badge text-bg-info bg-secondary mt-2"><%= @work_order.status %></p>
  </div>
  <div class="navigation d-flex gap-2">
      <%= button_to "Editar", edit_carrier_vehicle_path, {method: :get, class: "btn btn-outline-warning"} %>

      <%= button_to "Deletar", work_order_path(@work_order), {method: :delete, class: "btn btn-outline-danger"} %>

     <%= button_to "Voltar para a lista", carrier_vehicles_path , {method: :get, class: "btn btn-outline-danger"} %>
  </div>
</div>
<hr>

<ul class="list-group">
<div class="row ">
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:sender_address) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.sender_address %></span>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:receiver_address) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.receiver_address %></span>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:receiver_name) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.receiver_name %></span>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:transport_company) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.transport_company.trading_name %></span>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:delivery_time) %>
    <% if @work_order.delivery_time.present? %>
      <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.delivery_time %> dias úteis</span>
    <% else %>
    <span class="badge badge-primary badge-pill bg-primary">NÃO DEFINIDO</span>
    <% end %>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:total_price) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= number_to_currency(@work_order.total_price) %></span>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:cubic_size) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.cubic_size %>m³</span>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:total_weight) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.total_weight %>kg</span>
  </li>
</div>
<div class="col-lg-4 mb-3 fs-6">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= WorkOrder.human_attribute_name(:total_distance) %>
    <span class="badge badge-primary badge-pill bg-primary"><%= @work_order.total_distance %>km</span>
  </li>
</div>

</div>
</ul>
