<div class="navigation-area d-flex justify-content-between align-items-center bg-">
  <div class="d-flex justify-content-center align-items-center gap-3">
    <h2><%= @work_order.unique_code %></h2>
    <p class="badge text-bg-info mt-2 <%= @work_order.status %>"><%= @work_order.status.tr("_", " ") %></p>
  </div>

  <div class="navigation d-flex gap-2">
    <%= render 'work_order_navigation_buttons'%>
    <%= button_to "Voltar para a lista", work_orders_path , {method: :get, class: "btn btn-outline-warning"} %>
  </div>
</div>
</div>
<hr>


<ul class="list-group">
  <%= render 'work_order_attributes'%>
</ul>


<br><br>




<% @work_order_routes.each do |route| %>

<hr>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-2 fs-5 fw-bold"><%= route.title.upcase %></h5>

      <div class="d-flex">
        <% if route.elapsed_time > 1%>
          <small><%= route.elapsed_time %> dias atrás</small>
        <% else %>
          <small>Algumas horas atrás</small>
        <% end %>

        <% if @authenticated %>
          <%= button_to "Deletar", work_order_route_path(route), {method: :delete, class: "btn btn-danger ms-2 badge badge-danger badge-pill bg-danger", name:"work_order", value:params[:id]} %>
        <% end %>

      </div>
    </div>
    <p class="mb-1">De: <%= route.last_location %></p>
    <p class="mb-1">Para: <%= route.next_location %></p>
    <small>Veículo: </small>

  </a>

</div>
<% end %>
